* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
.navbar {
  list-style: none;
  background: #2731ff;
}
ul li {
  display: inline-block;
  position: relative;
}
ul li a {
  display: block;
  padding: 20px 25px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
ul li ul.dropdown li {
  display: block;
  font-size: 10px;
}

ul li ul.dropdown {
  width: 100%;
  background: #ffffff;
  position: absolute;
  z-index: 999;
  display: none;
  font-size: 10px;
  width: 490px;
  height: 480px;
}
ul li a:hover {
  background: #2c36ff;
}
ul li:hover ul.dropdown {
  display: block;
}
ul li ul.dropdown-1 li {
  display: block;
  font-size: 10px;
}
ul li ul.dropdown-1 {
  width: 100%;
  background: #ffffff;
  position: absolute;
  z-index: 999;
  display: none;
  font-size: 10px;
  width: 200px;
}
ul li a:hover {
  background: #005eff;
}
ul li:hover ul.dropdown-1 {
  display: block;
  color: #e6e3e3;
  padding-left: 10px;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  background: rgb(171, 169, 169);
  padding: 40px 0;
}
.footer-col {
  width: 20%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul p:not(:last-child) {
  margin-bottom: 15px;
}
.footer-col ul p a {
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  color: #000000;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul p a:hover {
  color: #e6e3e3;
  padding-left: 8px;
}
.footer-col .social-link a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgb(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #4a4a4a;
  transition: all 0.5s ease;
}
.footer-col .social-link a:hover {
  color: #ffffff;
  padding-bottom: 3px;
}
